# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ZarXP audit
_to_delete/
_unused_to_delete/
_unused_icons/
public/html/jspaint/
src/assets/hero.png
src/assets/vite.svg
src/assets/react.svg
